@import "tailwindcss";

@theme {
  --color-darkBlue: #001f8b;
  --color-lightBlue: #dae5f5;
  --color-sidebarSelected: #2f2f2f17;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-button {
  display: none !important;
}

::-webkit-scrollbar-track {
  background-color: #d9d9d9 !important;
  border-radius: 4.5px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff !important;
  border-radius: 4.5px !important;
  border: 2px solid #d9d9d9;
}
